/*  your css code here. If applicable */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}
body{
	background-color: rgb(204, 204, 204);
}
body>h1{
	text-align: center;
	margin-top: 20px;
}
ul{
	width: 95%;
	margin-top: 20px;
	margin-inline: auto;
	padding: 40px 0px 40px 20px;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 20px;
	list-style-type: none;
	
}
a{
	text-decoration: none;
	color: black;
	
}
