/*  your css code here. If applicable */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}
body{
	background-color: rgb(204, 204, 204);
}
body>h1{
	text-align: center;
	margin-top: 20px;
}